body{
    margin: 0;
    padding: 0;
}

.back {
    text-align: center;
    margin-top: 30px;
}

.btn_back {
    display: inline-block;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    background: #ff0000;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    border: 1px solid #cc0000;
    transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.btn_back:hover {
    background: #cc0000;
    color: #fff;
    border-color: #a30000;
}