


.profile_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.profile{
    font-size: 300%;
    font-weight: 900;
}

.btn_add_resume_div{
    background: blue;
    margin: 20px;
    padding: 10px;
    border-radius: 12px;
    font-size: 150%;
}

.user_resume{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resume{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 12px;
    font-size: 150%;
    width: 500px;
    gap: 20px;
        box-shadow: -10px 10px 0 0 black;
}

.btn_more_details_resume{
    color: white;
    font-size: 150%;
    cursor: pointer;
    text-decoration: none;
}

.btn_more_details_resume_div{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: black;
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid black;
    width: 450px;
}