{% extends 'app/layouts/base.html' %}

{% load static %}

{% block title %}Create vacancy{% endblock %}



{% block content %}
<div class="create_resume">

    <form class="create_resume_form" method="POST">
        <h2>Create vacancy</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn_create_resume" type="submit">Create</button>
    </form>
    <div class="back">
        <a class="btn_back" href="{% url 'resume_list' %}">Back</a>
    </div>

</div>




{% endblock %}