{% load static %}


<header>
    <div class="logo">
        hh
    </div>
    <div>
        {% if user.is_staff %}
            <div>
                <a class="a_header" href="{% url 'resume_list' %}">
                    For employers
                </a>
            </div>
        {% else %}
            <div>
                <a class="a_header" href="{% url 'vacancy_list' %}">
                    For job seekers
                </a>
            </div>

        {% endif %}
    </div>


    <div class="profile_login">
        <div>
        <a class="a_header" href="{% url "profile" %}">
            Profile
        </a>
    </div>
    <div>
        <a class="a_header" href="{% url 'logout' %}">
            Logout
        </a>
    </div>
    </div>

</header>